# System stuff
.DS_Store
Thumbs.db

# Sensitive dirs
.ssh/
.gnupg/
.config/chromium/
.config/google-chrome/
.config/BraveSoftware/
.config/mozilla/

# Cache folders
.cache/

# History files
.zsh_history
.bash_history

# Any lock files
*.lock
